@font-face {
  font-family: 'ArcadeClassic';
  src: url('../ARCADECLASSIC.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #0d0d0d;
  color: #39ff14;
  font-family: "ARCADECLASSIC", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  user-select: none;
}

.game-container {
  text-align: center;
}

h1 {
  font-size: 4rem;
  text-shadow:
    0 0 10px #09ae00,
    0 0 20px #09ae00,
    0 0 30px #ff00ff;
  margin-bottom: 15px;
}

#gameCanvas {
  background-color: #111;
  border: 3px solid #09ae00;
  box-shadow:
    0 0 20px #09ae00,
    inset 0 0 20px #09ae00;
  border-radius: 10px;
}

.score-board {
  margin-top: 15px;
  font-size: 1.2rem;
  text-shadow: 0 0 5px #39ff14;
}

.instructions {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #888;
  font-style: italic;
}

button {
  margin-top: 20px;
  background-color: transparent;
  border: 1.5px solid #09ae00;
  padding: 8px 20px;
  color: #09ae00;
  font-family: 'Orbitron', monospace, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 0 10px #09ae00;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #10ab4622;
}

.hidden {
  display: none;
}

.logo{
  
  color: white;
   font-size: 3em;
  line-height: 0.8em;
  position: absolute; /* permite mover livremente */
  top: 10px;           /* distância do topo */
  right: 10px;         /* distância da direita */
  margin: 0;           /* remove margem padrão */
}



header {
  position: relative; /* garante que o h1 seja posicionado relativamente ao header */
}

header h1 {
  font-family: VT323, monospace;
  color: white;
  font-size: 1em;
  line-height: 0.8em;
  position: absolute; /* permite mover livremente */
  top: 10px;           /* distância do topo */
  right: 10px;         /* distância da direita */
  margin: 0;           /* remove margem padrão */
}

.logo span {
  color: #00ff00;
}