<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CyberSnake</title>
  <link rel="stylesheet" href="../asset/css/snake.css" />
</head>
<body>
  <header>
    <a href="../index.html" class="logo-link">
        <h1><span>MANA</span><br>.WEB</h1>
    </a>
  </header>
  <div class="game-container">
    <h1>CYBERSNAKE</h1>
    <canvas id="gameCanvas" width="400" height="400"></canvas>
    <div class="score-board">Pontuação: <span id="score">0</span></div>
    <div class="instructions">
      Use as setas para mover a cobra
    </div>
    <button id="restartBtn" class="hidden">Iniciar Jogo</button>
  </div>

  <script src="../javascript/snake.js"></script>
</body>
</html>
